<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="model" default="$(find prius_description)/urdf/prius.urdf"/>
  <param name="robot_description" textfile="$(arg model)"/>
  <arg name="headless"                              default="false"/>
  <arg name="model_path"                            default="$(find simulator_resources)/models"/>
  <arg name="robot_namespace"                       default=""/>
  <arg name="robot_model_name"                      default="prius"/>
  <arg name="enable_ekf"                            default="true"/>
  <arg name="world"                                 default="maze_solving"/>
  <arg name="world_file"                            default="$(find simulator_resources)/worlds/$(arg world).world"/>
  <arg name="x"                                     default="-50.0"/>
  <arg name="y"                                     default="26.5"/>
  <arg name="z"                                     default="0.4"/>
  <arg name="roll"                                  default="0.0"/>
  <arg name="pitch"                                 default="0.0"/>
  <arg name="yaw"                                   default="0.0"/>
  <arg name="paused"                                default="false"/>
  <arg name="use_sim_time"                          default="true"/>
  <arg name="debug"                                 default="false"/>
  <arg name="verbose"                               default="true"/>
  <arg name="run_gui"                               default="true"/>
  <node pkg="fake_localization" type="fake_localization" name="fake_localization">
    <remap from="base_pose_ground_truth" to="/prius/base_pose_ground_truth"/>
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="very_inaccurate_odom" args="0 0 0 0 0 0 odom base_link"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <env name="GAZEBO_MODEL_PATH" value="$(arg model_path)"/>
    <arg name="world_name"        value="$(arg world_file)"/>
    <arg name="paused"            value="$(arg paused)"/>
    <arg name="use_sim_time"      value="$(arg use_sim_time)"/>
    <arg name="gui"               value="$(arg run_gui)"/>
    <arg name="headless"          value="$(arg headless)"/>
    <arg name="debug"             value="$(arg debug)"/>
    <arg name="verbose"           value="$(arg verbose)"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
      args="-file $(find prius_description)/urdf/prius.urdf -urdf -model $(arg robot_model_name) -x $(arg x)
        -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"
      output="screen"/>
</launch>
